*
  box-sizing border-box

html 
  font-size 10px

body
  font-size font-size-base
  font-family 'Roboto Mono', monospace
  background-color color-body

a
  text-decoration none 

  &:hover
    text-decoration underline

ul, ol
  margin 0
  padding 0
  list-style none