@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.ttf?bvhi6a') format('truetype'),
    url('../fonts/icomoon.woff?bvhi6a') format('woff'),
    url('../fonts/icomoon.svg?bvhi6a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-briefcase:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e901";
}
.icon-grid:before {
  content: "\e902";
}
.icon-log-out:before {
  content: "\e903";
}
.icon-map-pin:before {
  content: "\e905";
}
.icon-settings:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e90b";
}
