// spacings
spacing = 1rem
spacing-small = (spacing/2)
spacing-large = (spacing*2)

// font-sizes
font-size-base = 1.4rem
font-size-large = 1.8rem
font-size-heading = 2.6rem

// colors
color-primary = rgb(25, 102, 208)
color-action = #37a000
color-body = rgb(245, 248, 251)
color-text = rgb(192, 192, 192)