// spacings
spacing = 1rem
spacing-small = (spacing/2)
spacing-large = (spacing*2)

// font-sizes
font-size-base = 1.4rem

// colors
color-primary = rgb(25, 102, 208)
color-body = rgb(245, 248, 251)
color-text = rgb(192, 192, 192)