.navigation 
  padding spacing-large 0
  background white
  border-bottom solid 1px color-text

nav 
  a
    color color-text
    text-decoration none
    &.active
      color color-primary
      text-decoration underline
    & + a 
     margin-left: spacing-large