.navigation 
  padding spacing-large
  margin-left -(spacing-large)
  margin-right -(spacing-large)

  background white
  border-bottom solid 1px color-text

nav 
  a
    color color-text
    text-decoration none

    &:hover
      color color-primary
      text-decoration none

    &.active
      color color-primary
      
      text-decoration none
    & + a 
     margin-left spacing-large

    i
      margin-right 3px